/* You can add global styles to this file, and also import other style files */
$primary: rgb(111, 0, 255);

html, body { height: 100%;}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 18px;
}
.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background: $primary;
    padding: 1em 0;
    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }
    nav {
        float: right;
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            li a {
                padding: 1em;
                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}



